// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
    .item {
        .glyphicon.glyphicon-time,
        .glyphicon.glyphicon-ok,
        .glyphicon.glyphicon-remove {
            display: none;
        }
    }

    .item {
        .glyphicon.glyphicon-time,
        .glyphicon.glyphicon-ok,
        .glyphicon.glyphicon-remove {
            display: none;
        }
    }

    .item.item-swap-status-new_item .glyphicon.glyphicon-time,
    .item.item-swap-status-approved .glyphicon.glyphicon-ok,
    .item.item-swap-status-rejected .glyphicon.glyphicon-remove {
        display: inline-block;
    }

    .item.item-swap-status-approved {
        .header {
            color: #3c763d !important;
            background-color: #dff0d8 !important;;
            border-color: #d6e9c6 !important;;
        }
    }

    .item.item-swap-status-rejected {
        .header {
            color: #990000 !important;
            background-color: #f9baba !important;;
            border-color: #ff7b7b !important;;
        }

        img {
            filter: grayscale(100%) blur(2px);
            -webkit-filter: grayscale(100%) blur(2px);
        }
    }
}

.req-state-ready,
.req-state-revert,
.req-state-finished {
    display: none;
}

.request-state[data-state="Sent"] .req-state-rejected,
.request-state[data-state="Rejected"] .req-state-rejected,
.request-state[data-state="Finished"] .req-state-rejected {
    display: none;
}

.request-state[data-state="Ready"] .req-state-ready,
.request-state[data-state="Rejected"] .req-state-revert,
.request-state[data-state="Sent"]  .req-state-finished {
    display: inline;
}

#form-wrap[data-items="0"] .req-state-revert {
    display: none !important;
}

.items[data-state="Sent"],
.items[data-state="Finished"] {
    .item {
        .glyphicon.glyphicon-time,
        .glyphicon.glyphicon-ok,
        .glyphicon.glyphicon-remove {
            display: none !important;
        }
    }
}